<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>test </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.28.0">
      <projectUrl>https://github.com/nhs3108/SpringWebDemo.git/</projectUrl>
      <displayName>test</displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.6.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/nhs3108/SpringWebDemo.git</url>
        <credentialsId>867bfe13-043d-41ab-b37f-c2bca486f1c6</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.seleniumhq.SeleniumhqBuilder plugin="seleniumhq@0.4">
      <browser>firefox</browser>
      <startURL>http://book.theautomatedtester.co.uk/chapter1</startURL>
      <suiteFile>https://www.mediafire.com/file/svid2sx38r55hse/demo.html</suiteFile>
      <resultFile>/Users/hungpt/Downloads/result.html</resultFile>
      <other>/Users/hungpt/Downloads/result.html</other>
    </hudson.plugins.seleniumhq.SeleniumhqBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>